[submodule "cmake/tools"]
	path = cmake/tools
	url = https://github.com/wang-bin/cmake-tools.git
[submodule "projects/src/fribidi"]
	path = src/fribidi
	url = https://github.com/fribidi/fribidi.git
[submodule "src/harfbuzz"]
	path = src/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "src/freetype"]
	path = src/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "src/libass"]
	path = src/libass
	url = https://github.com/libass/libass.git
	branch = master
[submodule "src/snappy"]
	path = src/snappy
	url = ../snappy
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/glfw"]
	path = src/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/mfx_dispatch"]
	path = src/mfx_dispatch
	url = ../mfx_dispatch
[submodule "src/oneVPL"]
	path = src/oneVPL
	url = ../oneVPL
[submodule "src/libva_loader"]
	path = src/libva_loader
	url = ../libva_loader
[submodule "src/dav1d"]
	path = src/dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "src/wolfssl"]
	path = src/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "src/uavs3d"]
	path = src/uavs3d
	url = https://github.com/uavs3/uavs3d.git
[submodule "src/cppcompat"]
	path = src/cppcompat
	url = https://github.com/wang-bin/cppcompat.git
